<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\CloudStationWeb.exe" arguments=".\CloudStationWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <staticContent>
        <remove fileExtension=".kml" />
        <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
        <remove fileExtension=".kmz" />
        <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>