<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1d9T9nzwzxDx92ObeVsmro3kJkYj8YqY</string>
	<key>GCM_SENDER_ID</key>
	<string>1084676863375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cfe.grijalva.cloudstationchat</string>
	<key>PROJECT_ID</key>
	<string>cuenca-grijalva</string>
	<key>STORAGE_BUCKET</key>
	<string>cuenca-grijalva.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084676863375:ios:e11d80f874726e984107fa</string>
</dict>
</plist>